@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainTitles: #8B4513;
  --background: #FFFFFF;
  --paragraphs: #1E1E1E;
  --secondaryGoldenrod: #DAA520; 
  --secondarySilver: #C0C0C0; 

}

body {
  background: var(--background);
}

main {
  padding: 2rem;
  color: var(--mainTitles);
  font-weight: bold;
  background: var(--background);
}

